<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaozhi.generate.user.dao.UserMapper">
	<sql id="cols">
		USER_ID
	</sql>
	
	<sql id="tableName">
		auth_user
	</sql>

	<resultMap type="com.xiaozhi.generate.user.bean.User" id="UserMap">
		<id column="USER_ID" property="id"/>

	</resultMap>
	
	<!-- 查询全部-->
	<select id="find" resultMap="UserMap">
		select
		<include refid="cols"/>
		from <include refid="tableName"/> t
	</select>
	
</mapper>